<!-- Here we add the empty div elements related to the overlays. -->
<div id="geomarker" style="background-color: red; height: 10px; width: 10px; border-radius: 100px;"></div>
<div id="geomarkerInfo" class="hint--no-animate hint--right hint--always" data-hint=""></div>
<div id="startmarkerInfo" class="hint--no-animate hint--right hint--always" data-hint=""></div>
<div id="endmarkerInfo" class="hint--no-animate hint--left hint--always " data-hint=""></div>

<!--
Here we create a div element to which the OpenLayers map will be assigned
We give the div a height of 100vh (Full screen height) and a width of 100%
which is the full width of the screen. -->
<div id="map" style="height: 100vh; width: 100%;"></div>

<!--
In this div element all the logic related to the map settings is added.
The class: "fixed-plugin" make sure the settings menu is shown on the web page.
-->
<div class="fixed-plugin" id="fixed-plugin">
    <!--
    Here we add the dropdown. We set autoClose to false to make sure the menu
    does not close when a setting is selected.
    -->
    <div id="main-dropdown" ngbDropdown [autoClose]="false">
        <!--
        Here we add the togglebutton. We give the button a cog icon.
        -->
        <a ngbDropdownToggle>
            <i class="fa fa-cog fa-2x"></i>
        </a>
        <!--
        Here we add the menu that opens when the dropdown toggle is clicked.
        We add the title settings menu.
        -->
        <div id="main-dropdown-menu" ngbDropdownMenu>
            <li class="header-title"> Settings menu</li>
            <!--
            In this div element we are going to add all the types of Settings
            from our application.
            -->
            <div id="settings">
              <!--
                In this div element we add the logic for switching between map
                providers.
                -->
                <div id="WMSSelection">
                    <!--
                    Here we add the dropdown. We set autoClose to false to make sure the menu
                    does not close when a setting is clicked.
                    -->
                    <div ngbDropdown [autoClose]="false">
                        <!--
                        Here we add the dropdown toggle button and give it some text.
                        -->
                        <button class="btn btn-white btn-block"
                         ngbDropdownToggle>Switch Map Provider:</button>
                         <!--
                         Here we add the menu that opens when the dropdown button is clicked.
                         -->
                        <div ngbDropdownMenu>
                            <!--
                            Here we add a ng-container that contains a FORloop that displays all
                            the entries in the JavaScriptMap:"mapProviders" as key values.

                            For each of the entries a button will be created which when clicked
                            triggers the function: "setMapProvider()" and passes the key of
                            the clicked entry as parameter.
                            -->
                            <ng-container *ngFor="let map of mapProviders | keyvalue">
                                <button ngbDropdownItem (click)='setMapProvider(map.key)'>{{map.key}}
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <!--
                In this div element we add the logic for selecting an item to visualize
                -->
                <div id="itemSelection">
                    <!--
                    Here we add the dropdown. We set autoClose to false to make sure the menu
                    does not close when a setting is clicked.
                    -->
                    <div ngbDropdown id="main-dropdown" [autoClose]="false">
                        <!--
                        Here we add the dropdown toggle button and give it some text.
                        -->
                        <button class="btn btn-white btn-block" ngbDropdownToggle>Item to visualize:</button>
                        <!--
                        Here we add the menu that opens when the dropdown button is clicked.
                        -->
                        <div id="main-dropdown-menu" ngbDropdownMenu>
                            <!--
                            Here we add the dropdown box which contains all the trackers from our database
                            -->
                            <li class="header-title">Choose from all Crane trackers:</li>
                            <div ngbDropdown>
                                <!--
                                Here we add the dropdown toggle button for out tracker selection dropdown
                                -->
                                <button class="btn btn-white btn-block" ngbDropdownToggle>Select Crane trackers</button>
                                <div ngbDropdownMenu>
                                    <!--
                                    Here we add a ng-container that contains a FORloop that displays all
                                    the objects in our items list which is defined in the component.ts file

                                    For each of the entries a button will be created which when clicked
                                    triggers the function: "selectItem()" and passes the item which is selected as
                                    parameter.
                                    -->
                                    <ng-container *ngFor="let item of items">
                                        <!--
                                        Here we check if the item type is equal to tracker. We do this because
                                        when we add other types of datasets to our application we dont want them
                                        to be in the dropdown box for our trackers.
                                        -->
                                        <div *ngIf="item.type == 'tracker'">
                                            <button ngbDropdownItem (click)='selectItem(item);'>{{item.name}}</button>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                All the logic in the following div element will only be displayed when
                one or more items are selected and thus the size of the selectedItems list
                is bigger than 0
                -->
                <div *ngIf="selectedItems.length > 0">
                  <!--
                  In this div element we add the logic for switching between items that are
                  selected and thus in the selectedItems list.
                  -->
                  <div id="selectedItemsSelection">
                      <div ngbDropdown>
                        <!--
                        Here we create the dropdown toggle button and add the length of the selectedItems list
                        as text of the button. We do this by using the syntax {{selectedItems.length}}.
                        -->
                          <button class="btn btn-white btn-block"
                          ngbDropdownToggle>Selected items:{{selectedItems.length}} </button>

                          <!--
                          Here we create the dropdown menu and set the width of the menu to: "max-content" this is
                          done to fix the styling of the remove button next to the selected item entries.
                          -->
                          <div ngbDropdownMenu style="width:max-content;">
                            <!--
                            Here we create a ng-container which contains a FORloop that creates a button
                            for all of the entries in our selectedItems list.

                            We add the function:"selectItem()" to the buttons in which we pass the item that
                            is clicked as parameter.

                            The text of the button will be the name of the item. we do this by adding the
                            syntax: {{item.name}}

                            We also create a button next to each item which when clicked triggers the function
                            removeItem() and passes the item as parameter.
                            -->
                              <ng-container *ngFor="let item of selectedItems">
                                  <div>
                                      <button class="pull-left" ngbDropdownItem
                                      (click)='selectItem(item);'>{{item.name}}</button>
                                      <a class="material-icons pull-left" style="color: red; margin-top: 9px;"
                                      (click)='removeItem(item)'>not_interested</a>
                                  </div>
                              </ng-container>
                          </div>
                      </div>
                  </div>

                  <!--
                  In this div element we add the logic for displaying extra information
                  related to the activeItem.
                  -->
                  <div id="itemInfoSelection" style="margin-bottom:30px;">
                        <!--
                        Here we add the dropdown. We set autoClose to false to make sure the menu
                        does not close when a setting is selected.
                        -->
                        <div ngbDropdown id="main-dropdown"  [autoClose]="false">
                            <!--
                            Here we add a list item which contains the name and type of the activeItem as
                            title and an icon as dropdown toggle.
                            -->
                            <li class="header-title" >{{activeItem.type}}: {{activeItem.name}}
                                <button ngbDropdownToggle class="btn btn-white btn-round btn-just-icon info">
                                    <i class="material-icons">info</i>
                                </button>
                            </li>
                            <!--
                            Here we add the menu that opens when the dropdown button is clicked.
                            In this menu we add list items that each represent the data belonging to the activeItem.
                            -->
                            <div id="main-dropdown-menu" ngbDropdownMenu>
                                <li class="header-title" style="margin-bottom: 10px;">
                                  INFO of {{activeItem.type}} : {{activeItem.name}} </li>
                                <li class="header-title">Total distance: {{activeItem.totalRouteDistance}}KM</li>
                                <!--
                                Here we convert the total date range of the route using the timeConverter function.
                                We grab the value at index 0 (of the dateRangeTotal) for the start date and the value at
                                index 1 for the end date of the total route.
                                -->
                                <li class="header-title">Start date: {{timeConverter(activeItem.dateRangeTotal[0])}}</li>
                                <li class="header-title">End date: {{timeConverter(activeItem.dateRangeTotal[1])}}</li>
                                <!--
                                Here we add the total amount of datapoints belonging to the selected item.
                                We make sure that the number is human readable and uses commas by adding the syntax"
                                "|number:'2.'" behind the value the value of the totalDataLength.
                                -->
                                <li class="header-title" style="margin-bottom: 10px;">
                                  Total datapoints: {{activeItem.totalDataLength| number: '2.'}} </li>
                                <!--
                                Here we add a button which has the function: "zoomToLocation()" bound to it.
                                When this button is clicked the map will move to the startCoordinate of the selected item.
                                -->
                                <button class="btn btn-white btn-block" (click)='zoomToLocation()'>
                                  Zoom to start marker</button>
                            </div>
                        </div>
                  </div>

                  <!--
                  In this div element we add the logic related to switching between layergroups
                  and selecting multiple timeframes
                  -->
                  <div id="dateSelection" style="height: 100px;">
                       <!-- Here we add the text which is used to display the timeframe which is currently active -->
                       <li class="header-title">Current timeframe: {{activeItem.dateRangeSelected}}</li>
                       <!-- Here we add the text which is used to tell the user that he can add extra timeframes -->
                       <li class="header-title">Select one or more timeframes:</li>
                       <!-- Here we add an ngbDropdown element -->
                       <div ngbDropdown class="pull-left">
                          <!-- Here we add the button which is used to open the selected
                             layerGroups dropdown-box and switch between layerGroups -->
                          <button class="btn btn-white btn-block" ngbDropdownToggle>
                          Selected DTGs: {{activeItem.layerGroups.size}}</button>
                          <!-- Here we add theh popup that opens when the dropdown button is clicked related to
                             switching between selected timeframes. All the code inside this div element is shown
                             in the popup-->
                          <div ngbDropdownMenu>
                             <!-- Here we add a for loop which makes sure that all the selectedDTG's (layerGroups)
                                are added in the dropdown box -->
                             <ng-container *ngFor="let group of activeItem.layerGroups | keyvalue; let i = index">
                                <!-- Here we add a button for each of the selected layerGroups
                                   if a layerGroup is clicked the function: "setLayerGroup()" is triggerd to make
                                   the clicked layergroup the activeLayerGroup -->
                                <button ngbDropdownItem (click)="setLayerGroup(group.key)">
                                   {{i+1}}: {{group.key}}
                                   <!-- Here we add the icon which is used to remove a layerGroup. -->
                                   <a class="material-icons" style="color: red; margin-left: 15px;"
                                      (click)='removeLayerGroup(group.key)'>not_interested</a>
                                </button>
                             </ng-container>
                          </div>
                       </div>

                       <!-- Here we add another ngbDropdown which is used to select new DTG's -->
                       <div ngbDropdown id="main-dropdown"  [autoClose]="false" class="pull-right">
                          <!-- Here we add a button which is used to open the date selection menu -->
                          <button class="btn btn-white" ngbDropdownToggle>
                          <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                          </button>

                          <!-- Here we add the popup which will open when the calendar icon is clicked -->
                          <div id="main-dropdown-menu" ngbDropdownMenu >
                             <!-- Here we add te text displayed in the popup -->
                             <li class="header-title">Add new datetime group:</li>
                             <!-- Here we add the DateTimePicker component
                             we assign the function: "getDTGEvent()" to th component -->
                             <dtgpicker [dateRange]="dateRange" (dateEvent)="getDTGEvent(activeItem.id,$event);">
                             </dtgpicker>
                          </div>
                       </div>
                  </div>

                  <!--
                  In this div element we add the logic related to selecting a N amount of datarows from the datastore
                  -->
                  <div id="amountSelection">
                        <div ngbDropdown>
                          <!--
                          Below we add a dropdown toggle which has the length of the coordinateList of the activeItem
                          as text.
                          -->
                            <button class="btn btn-white btn-block" ngbDropdownToggle>
                              Choose amount: {{ activeItem.coordinateList.length | number: '2.'}}
                            </button>
                                <!--
                                Here we add the menu that opens when the dropdown button is clicked.
                                In this menu we add the amounts: 1000, 10000, 20000 and the total amount of
                                datapoints belonging to the activeItem.

                                We use the syntax : {{1000| number: '2.'}} to make sure a comma is added to the number.
                                -->
                                <div ngbDropdownMenu>
                                    <!-- Here we add the entry for 1000 datapoints -->
                                    <button ngbDropdownItem (click)='getItemDataByAmount(activeItem,1000)'>
                                      {{1000| number: '2.'}}
                                    </button>
                                    <!-- Here we add the entry for 10000 datapoints -->
                                    <button ngbDropdownItem (click)='getItemDataByAmount(activeItem,10000)'>
                                      {{10000| number: '2.'}}
                                    </button>
                                    <!-- Here we add the entry for 20000 datapoints -->
                                    <button ngbDropdownItem (click)='getItemDataByAmount(activeItem,20000)'>
                                      {{20000| number: '2.'}}
                                    </button>
                                    <!-- Here we add the entry for the total amount of datapoints available-->
                                    <button ngbDropdownItem (click)='getItemDataByAmount(activeItem,activeItem.totalDataLength)'>
                                      {{activeItem.totalDataLength| number: '2.'}}
                                    </button>
                                </div>
                        </div>
                  </div>

                  <!--
                  In this div element we add the logic related to selecting all data in a given polygone
                  -->
                  <div id="countrySelection">
                     <!-- Here we create a ngbDropdown related to selecting countries -->
                     <div ngbDropdown>
                        <!-- Here we add the dropdown button which is used to open the dropdown list -->
                        <button class="btn btn-white btn-block" ngbDropdownToggle>Choose from Country:</button>
                        <div ngbDropdownMenu>
                           <!-- Here we add a forEach loop which loops trough all the entries in the JavaScriptMap:
                              "countryList".-->
                           <ng-container *ngFor="let country of countryList | keyvalue; let i = index;">
                              <!-- For each entry in the countryList a button is created.
                                 We assign the key of the entry (the country name) as text to the button.
                                 We also assign the function: "getItemDataByCountry()" to the button in which we pass
                                 the activeItem and the set of coordinates (the polygon) belonging to the clicked country. -->
                              <button ngbDropdownItem
                                 (click)='getItemDataByCountry(activeItem,country.value)'>{{i + 1}}: {{country.key}}
                              </button>
                           </ng-container>
                        </div>
                     </div>
                  </div>
                  <!--
                  In this div element we add the logic related to toggling layers and overlay
                  -->
                  <div id="toggleSelection">
                     <!--
                     Here we add the dropdown which is used to display the buttons used for toggling. We set
                     autoClose to false to make sure the menu does not close when a setting is clicked.
                     -->
                      <div ngbDropdown id="main-dropdown"  [autoClose]="false">
                          <!-- Here we create the button which is used to open the layer toggling menu. -->
                          <button class="btn btn-white btn-block" ngbDropdownToggle>Toggle Layers:</button>
                          <div id="main-dropdown-menu" ngbDropdownMenu>
                              <!-- Here we add the button which is used to toggle the GeoMarker info on or off.
                              we assign the function: "toggleOverlay()" to the button in which we pass the
                              overlayType: "geomarkerInfo". -->
                              <button class="btn btn-white btn-block" (click)='toggleOverlay("geomarkerInfo")'>
                                Geomarker Info</button>
                              <!-- Here we add the button which is used to toggle the Startmarker info on or off.
                              we assign the function: "toggleOverlay()" to the button in which we pass the
                              overlayType: "startmarkerInfo". -->
                              <button class="btn btn-white btn-block" (click)='toggleOverlay("startmarkerInfo")'>
                                Startmarker Info</button>
                              <!-- Here we add the button which is used to toggle the Startmarker info on or off.
                              we assign the function: "toggleOverlay()" to the button in which we pass the
                              overlayType: "endmarkerInfo". -->
                              <button class="btn btn-white btn-block" (click)='toggleOverlay("endmarkerInfo")'>
                                Endmarker Info</button>
                              <!-- Here we add the button which is used to toggle the Start and EndMarkers on or off.
                              we assign the function: "toggleLayer()" to the button in which we pass the
                              layerType: "markerLayer". -->
                              <button class="btn btn-white btn-block" (click)='toggleLayer("markerLayer")'>
                                Start/End marker</button>
                              <!-- Here we add the button which is used to toggle the LineLayer on or off.
                              we assign the function: "toggleLayer()" to the button in which we pass the
                              layerType: "lineLayer". -->
                              <button class="btn btn-white pull-left" (click)='toggleLayer("lineLayer")'>
                                Lines </button>
                              <!-- Here we add the button which is used to toggle the PointLayer on or off.
                              we assign the function: "toggleLayer()" to the button in which we pass the
                              layerType: "pointLayer". -->
                              <button class="btn btn-white pull-right" (click)='toggleLayer("pointLayer")'>
                                Points </button>
                              <!-- Here we add the button which is used to toggle the OpenSeaMap layer on.
                              we assign the function: "map.addLayer()" to the button in which we pass the
                              OpenSeaMap Layer instance. -->
                              <button class="btn btn-white pull-left" (click)='map.addLayer(seaLayer)'>
                                OSM ON</button>
                              <!-- Here we add the button which is used to toggle the OpenSeaMap layer off.
                              we assign the function: "map.removeLayer()" to the button in which we pass the
                              OpenSeaMap Layer instance. -->
                              <button class="btn btn-white pull-right" (click)='map.removeLayer(seaLayer)'>
                                OSM OFF</button>
                              <!-- Here we add the button which is used to toggle the World Port Index layer on.
                              we assign the function: "map.addLayer()" to the button in which we pass the
                              World Port Index Layer instance. -->
                              <button class="btn btn-white pull-left" (click)='map.addLayer(portLayer)'>
                                WPI ON</button>
                              <!-- Here we add the button which is used to toggle the World Port Index layer off.
                              we assign the function: "map.removeLayer()" to the button in which we pass the
                              World Port Index Layer instance. -->
                              <button class="btn btn-white pull-right" (click)='map.removeLayer(portLayer)'>
                                WPI OFF</button>
                          </div>
                      </div>
                  </div>

                  <!--
                  In this div element we add the logic related to changing layer styles
                  -->
                  <div id="styleSelection">
                      <!-- Here we add the text which tells the user that he can change layer styling. -->
                      <li class="header-title">Change Styles:</li>

                      <!-- Here we create the ngbDropdown related to changing the LineLayer styling -->
                      <!-- We set autoClose to false to make sure the popup does not automatically close. -->
                      <!-- We set the class to pull-left to make sure the buttons can be placed next to eachother. -->
                      <div ngbDropdown id="main-dropdown" [autoClose]="false" class="pull-left">
                          <!-- Here we add the button which is used to open the lineLayer styling menu -->
                          <!-- We set the icon of the button to a chart line icon. -->
                          <button class="btn btn-white" ngbDropdownToggle><i id="lineColorButton"
                            class="material-icons">show_chart</i></button>
                          <!-- Here we define the popup menu which shows up when the toggle button
                           is clicked. All the content in this div element is shown in the popup. -->
                          <div id="main-dropdown-menu"  ngbDropdownMenu>
                              <!-- Here we add the text which tells the user that he is currently
                              editing the lineLayer Styling -->
                              <li class="header-title">Change Line styling</li>
                              <!-- Here we add the text which tells the user that he can change the line
                              color using the button below -->
                              <li class="header-title">Change Line color</li>
                              <!-- Here we add the dropdown menu which is used to select a color -->
                              <div ngbDropdown>
                                  <!-- Here we add the button which is used to open the color selection
                                  dropdown menu.The text of the button is set to the color which is currently
                                  active (set in the styleDict) -->
                                  <button class="btn btn-white btn-block" ngbDropdownToggle>
                                    Select color: {{styleDict.color}}</button>
                                  <!-- Here we define the dropdown menu which pops up when the color selection
                                  button is clicked. -->
                                  <div ngbDropdownMenu>
                                      <!-- Here we define a for each loop which loops through the colorList  -->
                                      <!-- For each entry in the list the following code is executed. -->
                                      <ng-container *ngFor="let color of colorList | keyvalue">
                                          <!-- For each color in the colorList a button is created -->
                                          <!-- The text of the button is the key of the entry in the
                                          JavaScriptMap (so the color name) When one of the buttons is clicked the
                                          value belonging to the key that was clicked is set in the styleDict -->
                                          <button ngbDropdownItem (click)='styleDict.color = color.key'>
                                            {{color.key}}</button>
                                      </ng-container>
                                  </div>
                              </div>
                              <!-- Here we add the text which tells the user that he can change the line width
                              using the button below -->
                              <li class="header-title">Change Line size</li>
                              <div ngbDropdown>
                                  <!-- Here we add the button which is used to open the width selection
                                  dropdown menu. The text of the button is set to the width which is currently
                                  active (set in the styleDict) -->
                                  <button class="btn btn-white btn-block" ngbDropdownToggle>
                                    Select width:  {{styleDict.width}}</button>
                                  <!-- Here we define the dropdown menu which pops up when the width selection
                                   button is clicked. -->
                                  <div ngbDropdownMenu>
                                      <!-- Here we define a for each loop which loops through the widthList  -->
                                      <!-- For each entry in the list the following code is executed. -->
                                      <ng-container *ngFor="let width of widthList | keyvalue">
                                          <!-- For each width in the widthList a button is created -->
                                          <!-- The text of the button is the key of the entry in the
                                           JavaScriptMap (so the pixel amount) When one of the buttons is clicked
                                           the value belonging to the key that was clicked is set in the styleDict -->
                                          <button ngbDropdownItem (click)='styleDict.width = width.key'>
                                            {{width.key}}</button>
                                      </ng-container>
                                  </div>
                              </div>
                              <!-- Here we add the text which tells the user that he can change the type
                               color using the button below -->
                              <li class="header-title">Change Line type</li>
                              <div ngbDropdown>
                                  <!-- Here we add the button which is used to open the width selection
                                  dropdown menu. The text of the button is set to the width which is currently
                                  active (set in the styleDict) -->
                                  <button class="btn btn-white btn-block" ngbDropdownToggle>
                                    Select type:  {{styleDict.type}}</button>
                                  <!-- Here we define the dropdown menu which pops up when the type selection
                                   button is clicked. -->
                                  <div ngbDropdownMenu>
                                      <!-- Here we define a for each loop which loops through the lineTypeList  -->
                                      <!-- For each entry in the list the following code is executed. -->
                                      <ng-container *ngFor="let type of lineTypeList| keyvalue">
                                          <!-- For each line type in the LineTypeList a button is created -->
                                          <!-- The text of the button is the key of the entry in the JavaScriptMap
                                           (so the type name) When one of the buttons is clicked the value
                                           belonging to the key that was clicked is set in the styleDict -->
                                          <button ngbDropdownItem (click)='styleDict.type = type.key'>
                                            {{type.key}}</button>
                                      </ng-container>
                                  </div>
                              </div>
                              <!-- Here we define the button which is used to update lineLayer style according
                              to the values selected by the user.-->
                              <!-- We assign the function: "setLayerStyle()" to the button in which we pass
                              the layerType:"lineLayer" -->
                              <button class="btn btn-white btn-block" (click)='setLayerStyle("lineLayer")'>
                                 CHANGE </button>
                          </div>
                      </div>

                      <!-- Here we create the ngbDropdown related to changing the markerLayer styling -->
                      <!-- We set autoClose to false to make sure the popup does not
                      automatically close.We set the class to pull-left to make sure the buttons can
                      be placed next to eachother. -->
                      <div ngbDropdown id="main-dropdown" [autoClose]="false" class="pull-left">
                          <!-- Here we add the button which is used to open the markerLayer styling menu -->
                          <!-- We set the icon of the button to a GPS logo icon. -->
                          <button class="btn btn-white" ngbDropdownToggle><i class="material-icons">
                            gps_fixed</i></button>
                          <!-- Here we define the popup menu which shows up when the toggle button is clicked. -->
                          <!-- All the content in this div element is shown in the popup. -->
                          <div id="main-dropdown-menu"  ngbDropdownMenu>
                              <!-- Here we add the text which tells the user that he is currently
                              editing the markerLayer Styling -->
                              <li class="header-title">Change marker styling</li>
                              <!-- The text of the button is set to the color which is currently
                              active (set in the styleDict) -->
                              <li class="header-title">Change marker color</li>
                              <div ngbDropdown>
                                  <!-- Here we add the button which is used to open the color
                                  selection dropdown menu. The text of the button is set to the color
                                  which is currently active (set in the styleDict) -->
                                  <button class="btn btn-white btn-block" ngbDropdownToggle>
                                    Select color {{styleDict.color}}</button>
                                  <!-- Here we define the dropdown menu which pops up when the width
                                  selection button is clicked. -->
                                  <div ngbDropdownMenu>
                                      <!-- Here we define a for each loop which loops through the colorList  -->
                                      <!-- For each entry in the list the following code is executed. -->
                                      <ng-container *ngFor="let color of colorList | keyvalue">
                                          <!-- For each line type in the LineTypeList a button is created -->
                                          <!-- The text of the button is the key of the entry in the
                                          JavaScriptMap (so the type name) When one of the buttons is clicked
                                          the value belonging to the key that was clicked is set in the styleDict -->
                                          <button ngbDropdownItem (click)='styleDict.color = color.key'>
                                            {{color.key}}</button>
                                      </ng-container>
                                  </div>
                              </div>
                              <!-- Here we define the button which is used to update markerLayer style
                              according to the values selected by the user.-->
                              <!-- We assign the function: "setLayerStyle()" to the button in which we
                              pass the layerType:"markerLayer" -->
                              <button class="btn btn-white btn-block" (click)='setLayerStyle("markerLayer")'>
                                 CHANGE </button>
                          </div>
                      </div>

                      <!-- Here we create the ngbDropdown related to changing the pointLayer styling -->
                      <!-- We set autoClose to false to make sure the popup does not automatically close. -->
                      <!-- We set the class to pull-left to make sure the buttons can be placed next to eachother. -->
                      <div ngbDropdown id="main-dropdown" [autoClose]="false" class="pull-left">
                          <button class="btn btn-white" ngbDropdownToggle><i class="material-icons">
                            navigation</i></button>
                      </div>
                  </div>

                  <!--
                  In this div element we add the logic related to animating the route.
                  -->
                  <div id="animationSelection"  style="margin-top:55px;">
                      <!-- Here we add the title which tells the user that he can animate the route. -->
                      <li class="header-title"> Animate the route: </li>
                      <!-- Here we add the speed slider which is used to set the speed in which
                      the route has to be played -->
                      <div class="input-group no-border">
                          <!-- Here we define the slider. We set the id to speed, the min value to -100,
                           the max value to 200, the increment steps to 10 and the start value to 100.
                           we also set the direction to RTL which makes sure the steps are inverted. -->
                          <input #speed id="speed" type="range" min="-100" max="200"
                          step="10" value="100" style="direction: rtl;" />
                      </div>
                      <!-- Here we define the start button. If the value of the activeItem's animation
                      is equal to undefined, this button is shown. We assign the function
                      animateRoute() to the button. -->
                      <div *ngIf="activeItem.animation == undefined">
                          <button class="btn btn-white pull-left" (click)='animateRoute();'>Start</button>
                      </div>
                      <!-- Here we define the pause button. If the value of the activeItem's animation
                      is not equal to undefined, this button is shown. We assign the function
                      animateRoute() to the button. -->
                      <div *ngIf="activeItem.animation != undefined">
                          <button class="btn btn-white pull-left" (click)='animateRoute();'>Pause</button>
                      </div>
                      <!-- Here we define the button which is used to clear any running animations. We
                      assign the function: "clearAnimation" to this button. -->
                      <button class="btn btn-white pull-left" (click)='clearAnimation()'>Clear</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Here we definean angular if statement which determines if the length
of the selectedItems list is bigger than 0. If this is the case the following
HTML code will be executed. -->
<div *ngIf="selectedItems.length> 0">
    <!-- Here we define a new fixed plu
    gin which is shown on the map. -->
    <div class="fixed-plugin-chart" id="fixed-plugin-chart">
        <!-- Here we define a new ngbDropdown. We set autoClose to false so that is does not
        automatically closes when the user clicks somewhere. -->
        <div ngbDropdown [autoClose]="false">
            <!-- Here we create the button which is used to open or close the elevationProfile.
             If the button is clicked the elevationProfileOpen variable is set to True and the
             elevationData is loaded using the function:"loadElevationData()" -->
            <a ngbDropdownToggle
            (click)='elevationProfileOpen = elevationProfileOpen ? false:true; loadElevationData() '>
                <!-- We give the button a chart icon. -->
                <i class="fa fa-area-chart fa-2x" style="color: white; padding: 5px 0px 10px 0px;"> </i>
            </a>
            <!-- Here we define the ngbDropdown menu popup -->
            <div ngbDropdownMenu id="main-dropdown-menu">
               <!-- Here we create the ChartistJS chart.-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-chart">
                            <div class="card-header card-header-primary">
                               <!-- Here we add the element to which the Chart will be assigned
                                after it has been created. -->
                                <div class="ct-chart" id="elevationProfile"></div>
                            </div>
                            <!-- Here we set the text displayed below the ChartistJS chart.
                            We obtain the activeItem's type and name.-->
                            <div class="card-body">
                                <h4 class="card-title">
                                 Elevation Profile (Metres above sealevel)
                                 from {{activeItem.type}}: {{activeItem.name}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
