<!--
Here we create a div element to which the OpenLayers map will be assigned
We give the div a height of 100vh (Full screen height) and a width of 100%
which is the full width of the screen. -->
<div id="map" style="margin-top: 50px; margin-left: 580px; height:80VH; width:70%;"></div>


<div class="fixed-plugin" style="top:150px !important" id="fixed-plugin">
    <div id="main-dropdown" ngbDropdown [autoClose]="false">
        <a ngbDropdownToggle>
            <i class="fa fa-cog fa-2x"></i>
        </a>
        <div id="main-dropdown-menu" ngbDropdownMenu>
            <li class="header-title"> Settings menu</li>
            <!--
            In this div element we are going to add all the types of Settings
            from our application.
            -->
            <div id="settings">
                <!--
                In this div element we add the logic for switching between map
                providers.
                -->
                <div id="WMSSelection">
                    <div ngbDropdown [autoClose]="false">
                        <button class="btn btn-white btn-block" ngbDropdownToggle>Switch Map Provider:</button>
                        <div ngbDropdownMenu>
                            <ng-container *ngFor="let map of mapProviders | keyvalue">
                                <button ngbDropdownItem (click)='setMapProvider(map.key)'>{{map.key}}
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <!--
                In this div element we add the logic for selecting an item to visualize
                -->
                <div id="itemSelection">
                    <div ngbDropdown id="main-dropdown" [autoClose]="false">
                        <button class="btn btn-white btn-block" ngbDropdownToggle>Item to visualize:</button>
                        <div id="main-dropdown-menu" ngbDropdownMenu>
                            <li class="header-title">Choose from all Crane trackers:</li>
                            <div ngbDropdown>
                                <button class="btn btn-white btn-block" ngbDropdownToggle>Select Crane trackers</button>
                                <div ngbDropdownMenu>
                                    <ng-container *ngFor="let item of items">
                                        <div *ngIf="item.type == 'tracker'">
                                            <button ngbDropdownItem (click)='selectItem(item);'>{{item.name}}</button>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <li class="header-title">Choose from all GPS-Routes:</li>
                            <div ngbDropdown>
                                <button class="btn btn-white btn-block" ngbDropdownToggle>Select GPS-Routes</button>
                                <div ngbDropdownMenu>
                                    <ng-container *ngFor="let item of items">
                                        <div *ngIf="item.type == 'trail'">
                                            <button ngbDropdownItem (click)='selectItem(item);'>{{item.name}}</button>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                All the logic in the following div element will only be displayed when
                one or more items are selected and thus the size of the selectedItems list
                is bigger than 0
                -->
                <div *ngIf="selectedItems.length > 0">
                  <!--
                  In this div element we add the logic for switching between items that are
                  selected and thus in the selectedItems list.
                  -->
                  <div id="selectedItemsSelection">
                      <div ngbDropdown>
                          <button class="btn btn-white btn-block" ngbDropdownToggle>Selected items:{{selectedItems.length}} </button>
                          <div ngbDropdownMenu>
                              <ng-container *ngFor="let item of selectedItems; let i = index;">
                                  <div>
                                      <button class="pull-left" ngbDropdownItem
                                      (click)='selectItem(item);'>{{item.name}}</button>
                                      <a class="material-icons pull-left" style="color: red; margin-top: 9px;"
                                      (click)='removeItem(item)'>not_interested</a>
                                  </div>
                              </ng-container>
                          </div>
                      </div>
                  </div>
                  <!--
                  In this div element we add the logic for displaying extra information
                  related to the activeItem.
                  -->
                  <div id="itemInfoSelection" style="margin-bottom:30px;">
                        <div ngbDropdown id="main-dropdown"  [autoClose]="false">
                            <li class="header-title" >{{activeItem.type}}: {{activeItem.name}}
                                <button ngbDropdownToggle class="btn btn-white btn-round btn-just-icon info">
                                    <i class="material-icons">info</i>
                                </button>
                            </li>
                            <div id="main-dropdown-menu" ngbDropdownMenu>
                                <li class="header-title" style="margin-bottom: 10px;">INFO of {{activeItem.type}} : {{activeItem.name}} </li>
                                <li class="header-title">Total distance: {{activeItem.totalRouteDistance}}KM</li>
                                <li class="header-title">Start date: {{timeConverter(activeItem.dateRangeTotal[0])}}</li>
                                <li class="header-title">End date: {{timeConverter(activeItem.dateRangeTotal[1])}}</li>
                                <li class="header-title" style="margin-bottom: 10px;">Total datapoints: {{activeItem.totalDataLength| number: '2.'}} </li>
                                <button class="btn btn-white btn-block" (click)='zoomToLocation()'> Zoom to start marker</button>
                            </div>
                        </div>
                    </div>

                    <!--
                    In this div element we add the logic related to switching between layergroups
                    and selecting multiple timeframes
                    -->
                    <div id="dateSelection" style="height: 100px;">
                      <li class="header-title">Current timeframe: {{activeItem.dateRangeSelected}}</li>
                      <li class="header-title">Select one or more timeframes:</li>
                      <div ngbDropdown class="pull-left">
                              <button class="btn btn-white btn-block" ngbDropdownToggle>Selected DTGs: {{activeItem.layerGroups.size}}</button>
                              <div ngbDropdownMenu>
                                  <ng-container *ngFor="let group of activeItem.layerGroups | keyvalue; let i = index">
                                      <button ngbDropdownItem (click)="setLayerGroup(group.key)">{{i+1}}: {{group.key}}
                                          <a class="material-icons" style="color: red; margin-left: 15px;" (click)='removeLayerGroup(group.key)'>not_interested</a>
                                      </button>
                                  </ng-container>
                              </div>
                          </div>
                      <div ngbDropdown id="main-dropdown"  [autoClose]="false" class="pull-right">
                          <button class="btn btn-white" ngbDropdownToggle>
                              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                          </button>
                          <div id="main-dropdown-menu" ngbDropdownMenu >
                              <li class="header-title">Add new datetime group:</li>
                              <dtgpicker [dateRange]="dateRange" (dateEvent)="getDTGEvent(activeItem.id,$event);"></dtgpicker>
                          </div>
                      </div>
                  </div>
                  <!--
                  In this div element we add the logic related to selecting a N amount of datarows
                  -->
                  <div id="amountSelection">
                        <div ngbDropdown>
                            <button class="btn btn-white btn-block" ngbDropdownToggle>Choose amount: {{ activeItem.coordinateList.length | number: '2.'}}</button>
                                <div ngbDropdownMenu>
                                    <button ngbDropdownItem (click)='getItemDataByAmount(activeItem,1000)'>{{1000| number: '2.'}}
                                    </button>
                                    <button ngbDropdownItem (click)='getItemDataByAmount(activeItem,10000)'>{{10000| number: '2.'}}
                                    </button>
                                    <button ngbDropdownItem (click)='getItemDataByAmount(activeItem,20000)'>{{20000| number: '2.'}}
                                    </button>
                                    <button ngbDropdownItem (click)='getItemDataByAmount(activeItem,activeItem.totalDataLength)'>{{activeItem.totalDataLength| number: '2.'}}
                                    </button>
                                </div>
                        </div>
                    </div>
                  <!--
                  In this div element we add the logic related to selecting all data in a given polygone
                  -->
                  <div id="countrySelection">
                          <div ngbDropdown>
                              <button class="btn btn-white btn-block" ngbDropdownToggle>Choose from Country:</button>
                              <div ngbDropdownMenu>
                                  <ng-container *ngFor="let country of countryList | keyvalue; let i = index;">
                                      <button ngbDropdownItem (click)='getItemDataByCountry(activeItem,country.value)'>{{i + 1}}: {{country.key}}
                                      </button>
                                  </ng-container>
                              </div>
                          </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
