#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=sh -c "fuser -k 5000/tcp"
Name=Stop-Flask-API
Icon=gnome-panel-launcher
Name[en_US]=4.1-Stop-Flask-API
