[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=gunicorn3 --workers 4 -b :8081 --timeout 100 "TileStache:WSGITileServer('/home/geostack/Geostack/tilestache-server/tilestache-configuration.cfg')"
Name=Start-Tileserver
Icon=gnome-panel-launcher
Name[en_US]=3.2-Start-Tileserver
