[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sh -c "python3 ~/Geostack/import-utilities/osm-data-import.py"
Icon=gnome-panel-launcher
Name[en_US]=Import-OSM-Data
