#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sh -c "service mongodb stop && service postgresql stop && service nginx stop && cd ~/Geostack && docker-compose up"
Name=Start-Geostack-Docker
Icon=gnome-panel-launcher
Name[en_US]=Start-Geostack-Docker
