#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sh -c "docker run --rm --name cesium-memcache -p 11211:11211 memcached -m 200"
Name=Start-Memcached
Icon=gnome-panel-launcher
Name[en_US]=Start-Memcached

