/* static/css/style.css */

/*
Define the style of the body
*/
body {  
    background: grey;
}

/* 
The <h1> to <h6> tags are used to define 
HTML headings.
<h1> defines the most important heading. 
<h6> defines the least important heading.

We use color to define the text color.
We use font-size to define the size of
the text
*/

h1 {  
  color: black;
  font-size: 2em;
}

h2 {  
  color: black;
  font-size: 1.25em;
}

h3 {  
  color: black;
  font-size: 1em;
}

/* 
The <li> tag defines a list item.
The <li> tag is used in ordered lists(<ol>), 
unordered lists (<ul>), and in menu lists (<menu>).
*/

li {  
  color: blue;
}

/* 
Define other CSS classes 
If we set an element class to one of the 
classes below, the element will inheret
the styles of that class
*/
.title_bold {
   color: white;
   font-family: "Courier New";
   font-size: 3em;
   font-weight: bold;
   line-height: 1em; /* Extra whitespace around the line */
}

.subtitle_bold {
   color: white;
   font-family: "Courier New";
   font-size: 2.04em;
   font-weight: bold;
}

/* par_normal = paragraph normal */
.par_normal {
 color: black;
 font-family: "Courier New";
 font-size: 2.1em;
 font-weight: normal;
}