<!--First we create a wrapper which will contain all the components in our
application.-->
<div class="wrapper">

    <!--In the wrapper we create a div element with the class: 'sidebar', this
    div element will contain the sidebar component which is called using
    the selector <app-sidebar> </app-sidebar> -->
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <!--Now we create a new div element inside the wrapper. This div element has
    the class: "main-panel". Inside the main-panel we create a new div element
    called: "main-content". these elements make sure the content of our pages in
    the webapplication are displayed properly-->
    <div class="main-panel">
        <div class="main-content">
          
            <!--Below we the navbar component is added using the selector:
            “<app-navbar></app-navbar>”-->
            <app-navbar></app-navbar>

            <!--Below we the angular router is added using the selector:
            “<router-outlet></router-outlet>”. The router is used to switch
            between components.-->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
