<div class="input-daterange datepicker">
    <div class="form-group">
        <div class="input-group">
            <input #dtg1 class="form-control datepicker" placeholder={{dateRange[0]}} name="dp1" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" type="text" [dayTemplate]="t" (dateSelect)="startDateChanged($event)" autocomplete="off" />
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
            </div>
            <ng-template #t let-date let-focused="focused">
                <span class="custom-day" [class.text-white]="isActive(date)" [class.range-end]="isRangeEnd(date)" [class.range-start]="isRangeStart(date)" [class.btn-light]="isActive(date)" [class.bg-primary]="isActive(date)" [class.range]="isInRange(date)" [class.faded]="isInRange(date)">
               {{ date.day }}
             </span>
            </ng-template>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">

            <input #dtg2 class="form-control datepicker" placeholder={{dateRange[1]}} name="dp2" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" type="text" [dayTemplate]="t1" (dateSelect)="endDateChanged($event)" autocomplete="off" />

            <button mat-raised-button (click)="sendDTG()" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
            </button>
            <ng-template #t1 let-date let-focused="focused">
                <span class="custom-day" [class.text-white]="isActive(date)" [class.range-end]="isRangeEnd(date)" [class.range-start]="isRangeStart(date)" [class.btn-light]="isActive(date)" [class.bg-primary]="isActive(date)" [class.range]="isInRange(date)" [class.faded]="isInRange(date)">
               {{ date.day }}
             </span>
            </ng-template>
        </div>
    </div>
</div>