<!-- templates/index.html for the Secure NGINX web server -->
<!-- Define the type of our document-->
<!DOCTYPE html>
<html>
    <!-- The <head> element can include a title for the document,
    scripts, styles, meta information, and more.-->
    <head>
        
        <!-- Set the title of our web page. -->
        <title>Secure Nginx Webserver</title>

        <!-- Define the stylesheet that will be used.
        The href variable is the location of the style sheet
        /static/css/style.css in this case.-->
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <!-- the <body> element contains all the contents of an HTML document,
     such as text, hyperlinks, images, tables, lists, etc.-->
    <body>
        <div>

            <!-- The <header> element represents a container 
            for introductory content or a set of navigational links.
            In this case in contains the message_title passed
            in the index()function located in our app.py-->
            <header class="title_bold">
                {{message_title}}
            </header>
            
            <!--The <p> tag defines a paragraph.
            In this case it contains the message_subtitle passed
            in the index() function located in our app.py-->

            <p class="subtitle_bold">
                {{message_subtitle}}
            </p>
        </div>
    </body>
</html>
